
.input-border {
  border-left: 0;
}

.counter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#decreaseBtn,
#increaseBtn {

  width: 50px;
  height: 50px;

}

#counterOpen {
  display: none;
  height: 100px;
  position: relative;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}

#suggestions {
  z-index: 1000;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  right: -10px;
  top: -4px;
  border-radius: 50%;
  background-color: white;
  outline-style: solid;
  outline-color: rgb(35, 157, 206);
}

.noUi-connect {
  background: #0dcaf0;
  height: 0px;
  margin-top: 4px;
}

.noUi-target {
  background: #5eb5cf;
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
}

.noUi-horizontal {
  height: 7px;
  width: 80%;
  margin: auto;
}

.noUi-handle {
  box-shadow: none;

}

.noUi-handle:before,
.noUi-handle:after {
  content: none;
}

.noUi-tooltip {
  padding: 3px;
  font-size: 15px;
}

.noUi-horizontal .noUi-tooltip {
 
  left: -20%;
  font-size: small;
  bottom: 165%;
}


.noUi-tooltip {

  background-color: #0dcaf0;
  border:0px;

}

#sliderOpen {
  display: none;
  background-color: rgb(246, 251, 255);
}

.showMap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


#map {
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
}


#searchBox{
  display: none;
}
