.input-border{
    border-left:0;
}

.counter-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #decreaseBtn, #increaseBtn{

    width: 50px;
    height: 50px;

  }

  #counterOpen {
    display: none;
    height: 100px;
    position: relative;
  }

  #counterApplyButton{
    position: absolute!important;
    bottom: 0!important;
    margin-bottom: 3px!important;
}

#suggestions{
  z-index: 1000;
}

